In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
#request page's HTML 
url = 'https://www.boxofficemojo.com/title/tt2488496/?ref_=bo_cso_table_1'
response = requests.get(url)

In [3]:
response.status_code

200

In [4]:
response.text[:1000]

'<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0" />\n                <meta charset="utf-8" />\n            <title dir="ltr">Star Wars: Episode VII - The Force Awakens - Box Office Mojo</title><meta content="Star Wars: Episode VII - The Force Awakens" name="title" />\n            <meta content="Box Office Mojo" property="og:site_name" />\n            <meta name="format-detection" content="telephone=no" />\n            <link href="https://m.media-amazon.com/images/G/01/boxofficemojo/v2/favicon._CB448965889_.ico" type="image/x-icon" rel="icon" />\n            <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/11EIQ5IGqaL._RC|012LjolmrML.css,41DAFIecsVL.css,51IB+wfP8qL.css,01ZfXnjPmmL.css,01oDR3IULNL.css,01Vctty9pOL.css,31q1y1irc5L.css,01XPHJk60-L.css,21qPwhPKAAL.css,01R0k0yxPXL.css,21xVR0NtxzL.css,11gneA'

In [5]:
page = response.text

In [6]:
soup = BeautifulSoup(page, 'lxml')

In [7]:
'''distributor_str = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')[1].text
distributor = distributor_str.split('See')[0]
distributor'''

"distributor_str = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')[1].text\ndistributor = distributor_str.split('See')[0]\ndistributor"

In [8]:
'''#rating
rating_str = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')
rating_str'''

"#rating\nrating_str = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')\nrating_str"

In [9]:
'''#get title
title_str = soup.find('title').text
title_str

title = title_str.split('-')[0].strip()
title'''

"#get title\ntitle_str = soup.find('title').text\ntitle_str\n\ntitle = title_str.split('-')[0].strip()\ntitle"

In [10]:
'''#get world gross
world_gross_str = soup.find(class_ = 'a-section a-spacing-none mojo-performance-summary-table').find_all(class_ = 'money')
worldwide_gross = world_gross_str[-1].text
worldwide_gross'''

"#get world gross\nworld_gross_str = soup.find(class_ = 'a-section a-spacing-none mojo-performance-summary-table').find_all(class_ = 'money')\nworldwide_gross = world_gross_str[-1].text\nworldwide_gross"

In [11]:
'''#get runtime. First create navigable string
import re
runtime_str = soup.find(text = re.compile('Run'))
print(runtime_str)
type(runtime_str)'''

"#get runtime. First create navigable string\nimport re\nruntime_str = soup.find(text = re.compile('Run'))\nprint(runtime_str)\ntype(runtime_str)"

In [12]:
'''rt = runtime_str.findNext().text
rt = rt.split()
runtime = int(rt[0])*60 + int(rt[2])
print(minutes)'''

'rt = runtime_str.findNext().text\nrt = rt.split()\nruntime = int(rt[0])*60 + int(rt[2])\nprint(minutes)'

In [13]:
'''# rating
rating = soup.find(text = re.compile('MPAA'))
rating = rating.findNext().text
print(rating)'''

"# rating\nrating = soup.find(text = re.compile('MPAA'))\nrating = rating.findNext().text\nprint(rating)"

In [14]:
'''#rank
rank_str = soup.find_all(class_= 'a-text-right')[17]
rank = rank_str.text
print(rank)'''

"#rank\nrank_str = soup.find_all(class_= 'a-text-right')[17]\nrank = rank_str.text\nprint(rank)"

In [15]:
'''# distributor
distributor_str = soup.find(text = re.compile('Distributor'))
distributor = distributor_str.findNext().text.split('See')[0]
print(distributor)'''

"# distributor\ndistributor_str = soup.find(text = re.compile('Distributor'))\ndistributor = distributor_str.findNext().text.split('See')[0]\nprint(distributor)"

In [17]:
'''#release date
release_date_str = soup.find(text = re.compile('Release Date'))
release_date = release_date_str.findNext().text.split('\n')[0]
print(release_date)'''

"#release date\nrelease_date_str = soup.find(text = re.compile('Release Date'))\nrelease_date = release_date_str.findNext().text.split('\n')[0]\nprint(release_date)"

In [18]:
def movie_value(soup, field_name):
    
    obj = soup.find(text=re.compile(field_name))
    
    if not obj: 
        return None
    
    # this works for most of the values
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text 
    else:
        return None

In [19]:
'''# budget
budget = movie_value(soup,'Budget')
print(budget)'''

"# budget\nbudget = movie_value(soup,'Budget')\nprint(budget)"

In [20]:
'''# genre
genre = movie_value(soup,'Genres').split()
print(genre)'''

"# genre\ngenre = movie_value(soup,'Genres').split()\nprint(genre)"

In [21]:
import dateutil.parser

def money_to_int(moneystring):
    moneystring = moneystring.replace('$', '').replace(',', '')
    return int(moneystring)

def runtime_to_minutes(runtimestring):
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0])*60 + int(runtime[2])
        return minutes
    except:
        return None

def to_date(datestring):
    date = dateutil.parser.parse(datestring)
    return date

In [22]:
'''raw_domestic_total_gross = dom_gross
domestic_total_gross = money_to_int(raw_domestic_total_gross)

raw_runtime = movie_value(soup,'Running')
runtime = runtime_to_minutes(raw_runtime)'''

"raw_domestic_total_gross = dom_gross\ndomestic_total_gross = money_to_int(raw_domestic_total_gross)\n\nraw_runtime = movie_value(soup,'Running')\nruntime = runtime_to_minutes(raw_runtime)"

In [23]:
'''headers = ['movie title', 'worldwide gross',
           'runtime (mins)', 'rating', 'rank', 'release date', 'budget', 'genre', 'distributor']

movie_data = []
movie_dict = dict(zip(headers, [title,
                                worldwide_gross,
                                runtime,
                                rating, 
                                rank, 
                                release_date, 
                                budget,
                                genre, 
                                distributor]))

movie_data.append(movie_dict)
movie_data'''

"headers = ['movie title', 'worldwide gross',\n           'runtime (mins)', 'rating', 'rank', 'release date', 'budget', 'genre', 'distributor']\n\nmovie_data = []\nmovie_dict = dict(zip(headers, [title,\n                                worldwide_gross,\n                                runtime,\n                                rating, \n                                rank, \n                                release_date, \n                                budget,\n                                genre, \n                                distributor]))\n\nmovie_data.append(movie_dict)\nmovie_data"

In [24]:
#scrape table

url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_lnav_hm_shrt'

response = requests.get(url)
page = response.text

soup = BeautifulSoup(page,"lxml")

In [25]:
table = soup.find('table')
table

<table class="a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated"><tr><th class="a-text-right mojo-field-type-rank a-nowrap"><span title="Rank">Rank</span>
</th><th class="a-text-left mojo-field-type-title a-nowrap"><span title="Title">Title</span>
</th><th class="a-text-right mojo-field-type-money a-nowrap"><span title="Lifetime Gross">Lifetime Gross</span>
</th><th class="a-text-left mojo-field-type-year a-nowrap"><span title="Year">Year</span>

In [26]:
rows = [row for row in table.find_all('tr')]

In [27]:
rows[1]

<tr><td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank">1</td><td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt2488496/?ref_=bo_cso_table_1">Star Wars: Episode VII - The Force Awakens</a></td><td class="a-text-right mojo-field-type-money">$936,662,225</td><td class="a-text-left mojo-field-type-year"><a class="a-link-normal" href="/year/2015/?ref_=bo_cso_table_1">2015</a></td></tr>

In [28]:
url_list = ['https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_lnav_hm_shrt', 
            'https://www.boxofficemojo.com/chart/top_lifetime_gross/?offset=200', 
           'https://www.boxofficemojo.com/chart/top_lifetime_gross/?offset=400', 
           'https://www.boxofficemojo.com/chart/top_lifetime_gross/?offset=600', 
           'https://www.boxofficemojo.com/chart/top_lifetime_gross/?offset=800']

#url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?offset=i'
rows = []

for url in url_list:
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    table = soup.find('table')
    rows.extend(table.find_all('tr')[1:])

In [29]:
print(len(rows))

1000

In [30]:
movies = {}

for row in rows[:1001]:
    items = row.find_all('td')
    link = items[1].find('a')
    title, url = link.text, link['href']
    movies[title] = [url] + [i.text for i in items]
    
print(len(movies))

988

In [31]:
#scrape multiple pages
import pandas as pd

In [32]:
top_movies = pd.DataFrame(movies).T  #transpose
top_movies.columns = ['link_stub', 'rank', 'title', 
                    'lifetime_gross', 'year']

print(len(top_movies))

988

In [33]:
def get_movie_dict(link):
    
    base_url = 'https://www.boxofficemojo.com'
    
    #Create full url to scrape
    url = base_url + link
    
    #Request HTML and parse
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    headers = ['movie title', 'worldwide gross','runtime (mins)',
               'release date', 'budget', 'genre', 'distributor']

    #title
    title_string = soup.find('title').text
    title = title_string.split(' - Box')[0].strip()

    #world gross
    world_gross_str = soup.find(class_ = 'a-section a-spacing-none mojo-performance-summary-table').find_all(class_ = 'money')
    worldwide_gross = world_gross_str[-1].text

    #runtime
    raw_runtime = movie_value(soup,'Running')
    runtime = runtime_to_minutes(raw_runtime)
    
    #rating
    '''rating = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')[11].text'''

    #release date
    release_date_str = soup.find(text = re.compile('Release Date'))
    release_date = release_date_str.findNext().text.split('\n')[0]
    
    # budget
    budget = movie_value(soup,'Budget')

    # genre
    genre = movie_value(soup,'Genres').split()
    
    #distributor
    distributor_str = soup.find(class_ = 'a-section a-spacing-none mojo-summary-values mojo-hidden-from-mobile').find_all('span')[1].text
    distributor = distributor_str.split('See')[0]
    
    #create movie dict
    movie_dict = dict(zip(headers, [title,
                                    worldwide_gross,
                                    runtime,
                                    release_date,
                                    budget,
                                    genre, 
                                    distributor]))

    return movie_dict

In [34]:
top_movies_list = []

for link in top_movies.link_stub:
    top_movies_list.append(get_movie_dict(link))

In [35]:
print(len(top_movies_list))

988

In [36]:
#convert list to df
top_movies_df = pd.DataFrame(top_movies_list)  
top_movies_df.set_index('movie title', inplace=True)

top_movies_df.shape

(988, 6)

In [37]:
top_movies.shape

(988, 5)

In [38]:
top_movies_merge = top_movies.merge(top_movies_df, left_index=True, right_index=True)

top_movies_merge.shape
top_movies_merge.head()

,link_stub,rank,title,lifetime_gross,year,worldwide gross,runtime (mins),release date,budget,genre,distributor
Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015,"$2,068,455,661",138.0,"December 16, 2015","$245,000,000","[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures
Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019,"$2,797,501,328",181.0,"April 24, 2019","$356,000,000","[Action, Adventure, Drama, Sci-Fi]",Walt Disney Studios Motion Pictures
Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009,"$2,846,089,541",162.0,"December 16, 2009","$237,000,000","[Action, Adventure, Fantasy, Sci-Fi]",Twentieth Century Fox
Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018,"$1,347,597,973",134.0,"February 13, 2018",None,"[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures
Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$678,815,482",2018,"$2,048,359,754",149.0,"April 25, 2018",None,"[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures

In [39]:
#set(top_movies.index) - set(top_movies_df.index)

In [40]:
#set(top_movies_df.index)-set(top_movies.index)

In [41]:
top_movies_merge['runtime (mins)'] = top_movies_merge['runtime (mins)'].fillna(113.0)

In [42]:
top_movies_merge['runtime (mins)']

Star Wars: Episode VII - The Force Awakens    138.0
Avengers: Endgame                             181.0
Avatar                                        162.0
Black Panther                                 134.0
Avengers: Infinity War                        149.0
                                              ...
Cloverfield                                    85.0
Footloose                                     107.0
Dear John                                     108.0
Men in Black: International                   114.0
Knowing                                       121.0
Name: runtime (mins), Length: 988, dtype: float64

In [43]:
top_movies_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, Star Wars: Episode VII - The Force Awakens to Knowing
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   link_stub        988 non-null    object
 1   rank             988 non-null    object
 2   title            988 non-null    object
 3   lifetime_gross   988 non-null    object
 4   year             988 non-null    object
 5   worldwide gross  988 non-null    object
 6   runtime (mins)   988 non-null    float64
 7   release date     988 non-null    object
 8   budget           816 non-null    object
 9   genre            988 non-null    object
 10  distributor      988 non-null    object
dtypes: float64(1), object(10)
memory usage: 124.9+ KB

In [44]:
top_movies_merge.to_csv('copy_top_movies_merge_1.csv', index=False)

In [45]:
top_movies_merge.dtypes

link_stub           object
rank                object
title               object
lifetime_gross      object
year                object
worldwide gross     object
runtime (mins)     float64
release date        object
budget              object
genre               object
distributor         object
dtype: object

In [46]:
top_movies_merge['budget'] = top_movies_merge['budget'].astype(str)

In [47]:
top_movies_merge["budget"] = top_movies_merge["budget"].str.replace(",","")

In [48]:
top_movies_merge['budget'] = top_movies_merge['budget'].str.replace('$',"")

<ipython-input-48-5159ae65845a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top_movies_merge['budget'] = top_movies_merge['budget'].str.replace('$',"")

In [49]:
top_movies_merge['budget'] = top_movies_merge.budget.replace('None', 60000000)

In [50]:
top_movies_merge['budget'] = top_movies_merge['budget'].astype(int)

In [51]:
top_movies_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, Star Wars: Episode VII - The Force Awakens to Knowing
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   link_stub        988 non-null    object
 1   rank             988 non-null    object
 2   title            988 non-null    object
 3   lifetime_gross   988 non-null    object
 4   year             988 non-null    object
 5   worldwide gross  988 non-null    object
 6   runtime (mins)   988 non-null    float64
 7   release date     988 non-null    object
 8   budget           988 non-null    int64
 9   genre            988 non-null    object
 10  distributor      988 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 124.9+ KB

In [52]:
top_movies_merge.head()

,link_stub,rank,title,lifetime_gross,year,worldwide gross,runtime (mins),release date,budget,genre,distributor
Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015,"$2,068,455,661",138.0,"December 16, 2015",245000000,"[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures
Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019,"$2,797,501,328",181.0,"April 24, 2019",356000000,"[Action, Adventure, Drama, Sci-Fi]",Walt Disney Studios Motion Pictures
Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009,"$2,846,089,541",162.0,"December 16, 2009",237000000,"[Action, Adventure, Fantasy, Sci-Fi]",Twentieth Century Fox
Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018,"$1,347,597,973",134.0,"February 13, 2018",60000000,"[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures
Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$678,815,482",2018,"$2,048,359,754",149.0,"April 25, 2018",60000000,"[Action, Adventure, Sci-Fi]",Walt Disney Studios Motion Pictures

In [53]:
top_movies_merge['worldwide gross'] = top_movies_merge['worldwide gross'].astype(str)

In [54]:
top_movies_merge['worldwide gross'] = top_movies_merge['worldwide gross'].str.replace(",", "").str.replace("$", "")

<ipython-input-54-f24aa457490b>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top_movies_merge['worldwide gross'] = top_movies_merge['worldwide gross'].str.replace(",", "").str.replace("$", "")

In [55]:
top_movies_merge['worldwide gross'] = top_movies_merge['worldwide gross'].astype(int)
top_movies_merge['worldwide gross']

Star Wars: Episode VII - The Force Awakens    2068455661
Avengers: Endgame                             2797501328
Avatar                                        2846089541
Black Panther                                 1347597973
Avengers: Infinity War                        2048359754
                                                 ...
Cloverfield                                    172394180
Footloose                                       80039064
Dear John                                      114984666
Men in Black: International                    253890701
Knowing                                        183658498
Name: worldwide gross, Length: 988, dtype: int64

In [56]:
top_movies_merge['lifetime_gross']= top_movies_merge['lifetime_gross'].astype(str)

In [57]:
top_movies_merge["lifetime_gross"] = top_movies_merge["lifetime_gross"].str.replace(",","").str.replace('$','')

<ipython-input-57-0f6b1f6094a2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  top_movies_merge["lifetime_gross"] = top_movies_merge["lifetime_gross"].str.replace(",","").str.replace('$','')

In [58]:
top_movies_merge['lifetime_gross']= top_movies_merge['lifetime_gross'].astype(int)

In [59]:
top_movies_merge.lifetime_gross

Star Wars: Episode VII - The Force Awakens    936662225
Avengers: Endgame                             858373000
Avatar                                        760507625
Black Panther                                 700426566
Avengers: Infinity War                        678815482
                                                ...
Cloverfield                                    80048433
Footloose                                      80035402
Dear John                                      80014842
Men in Black: International                    80001807
Knowing                                        79957634
Name: lifetime_gross, Length: 988, dtype: int64

In [60]:
top_movies_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, Star Wars: Episode VII - The Force Awakens to Knowing
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   link_stub        988 non-null    object
 1   rank             988 non-null    object
 2   title            988 non-null    object
 3   lifetime_gross   988 non-null    int64
 4   year             988 non-null    object
 5   worldwide gross  988 non-null    int64
 6   runtime (mins)   988 non-null    float64
 7   release date     988 non-null    object
 8   budget           988 non-null    int64
 9   genre            988 non-null    object
 10  distributor      988 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 124.9+ KB

In [61]:
top_movies_merge.to_csv('copy_top_movies_merge_2.csv', index=False)

In [62]:
top_movies_merge['genre']

Star Wars: Episode VII - The Force Awakens             [Action, Adventure, Sci-Fi]
Avengers: Endgame                               [Action, Adventure, Drama, Sci-Fi]
Avatar                                        [Action, Adventure, Fantasy, Sci-Fi]
Black Panther                                          [Action, Adventure, Sci-Fi]
Avengers: Infinity War                                 [Action, Adventure, Sci-Fi]
                                                              ...
Cloverfield                                     [Action, Horror, Sci-Fi, Thriller]
Footloose                                                  [Drama, Music, Romance]
Dear John                                                    [Drama, Romance, War]
Men in Black: International                    [Action, Adventure, Comedy, Sci-Fi]
Knowing                                          [Action, Drama, Sci-Fi, Thriller]
Name: genre, Length: 988, dtype: object

In [63]:
#dummies for categorical

from sklearn.preprocessing import MultiLabelBinarizer

# Binarise labels
mlb = MultiLabelBinarizer()
expandedLabelData = mlb.fit_transform(top_movies_merge['genre'])
labelClasses = mlb.classes_


# Create a pandas.DataFrame from output
expandedLabels = pd.DataFrame(expandedLabelData, columns=labelClasses)

#credit: https://www.generacodice.com/en/articolo/1117363/split-a-list-of-values-into-columns-of-a-dataframe&amp;quest;

In [64]:
print(len(expandedLabels))

988

In [65]:
final_df = pd.merge(top_movies_merge, expandedLabels, on=top_movies_merge.index)

In [66]:
final_df.head()

,key_0,link_stub,rank,title,lifetime_gross,year,worldwide gross,runtime (mins),release date,budget,...,Music,Musical,Mystery,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,936662225,2015,2068455661,138.0,"December 16, 2015",245000000,...,0,0,0,0,1,0,0,0,0,0
1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,858373000,2019,2797501328,181.0,"April 24, 2019",356000000,...,0,0,0,0,1,0,0,0,0,0
2,Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,760507625,2009,2846089541,162.0,"December 16, 2009",237000000,...,0,0,0,0,1,0,0,0,0,0
3,Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,700426566,2018,1347597973,134.0,"February 13, 2018",60000000,...,0,0,0,0,1,0,0,0,0,0
4,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,678815482,2018,2048359754,149.0,"April 25, 2018",60000000,...,0,0,0,0,1,0,0,0,0,0

In [67]:
final_df = pd.get_dummies(final_df, columns = ['distributor'], drop_first = True)
final_df.head()

,key_0,link_stub,rank,title,lifetime_gross,year,worldwide gross,runtime (mins),release date,budget,...,distributor_Summit Entertainment,distributor_The Weinstein Company,distributor_TriStar Pictures,distributor_Twentieth Century Fox,distributor_USA Films,distributor_United Artists,distributor_United Artists Releasing,distributor_Universal Pictures,distributor_Walt Disney Studios Motion Pictures,distributor_Warner Bros.
0,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,936662225,2015,2068455661,138.0,"December 16, 2015",245000000,...,0,0,0,0,0,0,0,0,1,0
1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,858373000,2019,2797501328,181.0,"April 24, 2019",356000000,...,0,0,0,0,0,0,0,0,1,0
2,Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,760507625,2009,2846089541,162.0,"December 16, 2009",237000000,...,0,0,0,1,0,0,0,0,0,0
3,Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,700426566,2018,1347597973,134.0,"February 13, 2018",60000000,...,0,0,0,0,0,0,0,0,1,0
4,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,678815482,2018,2048359754,149.0,"April 25, 2018",60000000,...,0,0,0,0,0,0,0,0,1,0

In [68]:
final_df['rank'] = final_df['rank'].astype(str)
final_df['rank'] = final_df['rank'].str.replace(',','').astype(int)
final_df['rank']

0         1
1         2
2         3
3         4
4         5
       ...
983     995
984     996
985     997
986     998
987    1000
Name: rank, Length: 988, dtype: int64

In [69]:
for date_str in final_df['release date']:
    final_df['release date'] = dateutil.parser.parse(date_str)

In [70]:
final_df['release date'] = final_df['release date'].astype(str)

In [71]:
final_df["release date"] = final_df["release date"].str.replace("-","").astype(float)

In [72]:
final_df['release date']

0      20070516.0
1      20070516.0
2      20070516.0
3      20070516.0
4      20070516.0
          ...
983    20070516.0
984    20070516.0
985    20070516.0
986    20070516.0
987    20070516.0
Name: release date, Length: 988, dtype: float64

In [73]:
final_df['year'] = final_df['year'].astype(int)

In [74]:
#dummy = pd.get_dummies(final_df['rating'])

In [75]:
#print(dummy)
#merge dummy to final_df

In [76]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 988 entries, 0 to 987
Data columns (total 71 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   key_0                                              988 non-null    object
 1   link_stub                                          988 non-null    object
 2   rank                                               988 non-null    int64
 3   title                                              988 non-null    object
 4   lifetime_gross                                     988 non-null    int64
 5   year                                               988 non-null    int64
 6   worldwide gross                                    988 non-null    int64
 7   runtime (mins)                                     988 non-null    float64
 8   release date                                       988 non-null    float64
 9   budget                                             988 non-null    int64
 10  genre                                              988 non-null    object
 11  Action                                             988 non-null    int64
 12  Adventure                                          988 non-null    int64
 13  Animation                                          988 non-null    int64
 14  Biography                                          988 non-null    int64
 15  Comedy                                             988 non-null    int64
 16  Crime                                              988 non-null    int64
 17  Documentary                                        988 non-null    int64
 18  Drama                                              988 non-null    int64
 19  Family                                             988 non-null    int64
 20  Fantasy                                            988 non-null    int64
 21  History                                            988 non-null    int64
 22  Horror                                             988 non-null    int64
 23  Music                                              988 non-null    int64
 24  Musical                                            988 non-null    int64
 25  Mystery                                            988 non-null    int64
 26  Romance                                            988 non-null    int64
 27  Sci-Fi                                             988 non-null    int64
 28  Short                                              988 non-null    int64
 29  Sport                                              988 non-null    int64
 30  Thriller                                           988 non-null    int64
 31  War                                                988 non-null    int64
 32  Western                                            988 non-null    int64
 33  distributor_AVCO Embassy Pictures                  988 non-null    uint8
 34  distributor_American International Pictures (AIP)  988 non-null    uint8
 35  distributor_Artisan Entertainment                  988 non-null    uint8
 36  distributor_Columbia Pictures                      988 non-null    uint8
 37  distributor_Dimension Films                        988 non-null    uint8
 38  distributor_DreamWorks                             988 non-null    uint8
 39  distributor_DreamWorks Distribution                988 non-null    uint8
 40  distributor_FilmDistrict                           988 non-null    uint8
 41  distributor_Focus Features                         988 non-null    uint8
 42  distributor_Fox Searchlight Pictures               988 non-null    uint8
 43  distributor_IFC Films                              988 non-null    uint8
 44  distributor_IMAX                                   988 non-null    uint8
 45  distributor_Lionsgate                              988 non-null    uint8
 46  distributor_MacGillivray Freeman Films             988 non-null    uint8
 47  distributor_Metro-Goldwyn-Mayer (MGM)              988 non-null    uint8
 48  distributor_Miramax                                988 non-null    uint8
 49  distributor_New Line Cinema                        988 non-null    uint8
 50  distributor_Newmarket Films                        988 non-null    uint8
 51  distributor_Orion Pictures                         988 non-null    uint8
 52  distributor_Paramount Pictures                     988 non-null    uint8
 53  distributor_RKO Radio Pictures                     988 non-null    uint8
 54  distributor_Relativity Media                       988 non-null    uint8
 55  distributor_Revolution Studios                     988 non-null    uint8
 56  distributor_Roadside Attractions                   988 non-null    uint8
 57  distributor_STX Entertainment                      988 non-null    uint8
 58  distributor_Screen Gems                            988 non-null    uint8
 59  distributor_Sony Pictures Classics                 988 non-null    uint8
 60  distributor_Sony Pictures Entertainment (SPE)      988 non-null    uint8
 61  distributor_Summit Entertainment                   988 non-null    uint8
 62  distributor_The Weinstein Company                  988 non-null    uint8
 63  distributor_TriStar Pictures                       988 non-null    uint8
 64  distributor_Twentieth Century Fox                  988 non-null    uint8
 65  distributor_USA Films                              988 non-null    uint8
 66  distributor_United Artists                         988 non-null    uint8
 67  distributor_United Artists Releasing               988 non-null    uint8
 68  distributor_Universal Pictures                     988 non-null    uint8
 69  distributor_Walt Disney Studios Motion Pictures    988 non-null    uint8
 70  distributor_Warner Bros.                           988 non-null    uint8
dtypes: float64(2), int64(27), object(4), uint8(38)
memory usage: 299.1+ KB

In [77]:
final_df.corr()

,rank,lifetime_gross,year,worldwide gross,runtime (mins),release date,budget,Action,Adventure,Animation,...,distributor_Summit Entertainment,distributor_The Weinstein Company,distributor_TriStar Pictures,distributor_Twentieth Century Fox,distributor_USA Films,distributor_United Artists,distributor_United Artists Releasing,distributor_Universal Pictures,distributor_Walt Disney Studios Motion Pictures,distributor_Warner Bros.
rank,1.000000,-0.792687,-0.166033,-0.717168,-0.232542,NaN,-0.406551,-0.196869,-0.340252,-0.132173,...,-0.030147,0.007728,0.042257,-0.009239,0.003073,0.048138,0.026181,-0.029443,-0.127334,-0.017605
lifetime_gross,-0.792687,1.000000,0.180941,0.902495,0.277472,NaN,0.444792,0.217946,0.361863,0.090518,...,0.036983,-0.026447,-0.045619,-0.013010,-0.011697,-0.041530,-0.019219,-0.007541,0.209423,-0.001814
year,-0.166033,0.180941,1.000000,0.304819,0.022784,NaN,0.331150,0.150882,0.208675,0.060610,...,0.034551,0.048514,-0.056119,0.012830,-0.010861,-0.128709,0.039000,0.037407,-0.021130,0.064874
worldwide gross,-0.717168,0.902495,0.304819,1.000000,0.321889,NaN,0.568408,0.254229,0.449351,0.119375,...,0.030484,-0.017326,-0.039090,0.023641,-0.017357,-0.056063,-0.017759,-0.005980,0.179227,0.021353
runtime (mins),-0.232542,0.277472,0.022784,0.321889,1.000000,NaN,0.275162,0.224400,-0.007991,-0.428234,...,0.019352,0.067883,-0.010456,-0.033997,0.047155,-0.010749,-0.044403,0.005229,-0.102437,0.125502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
distributor_United Artists,0.048138,-0.041530,-0.128709,-0.056063,-0.010749,NaN,-0.041489,-0.063930,-0.068195,-0.032549,...,-0.006110,-0.006110,-0.008667,-0.030426,-0.002488,1.000000,-0.002488,-0.029885,-0.034233,-0.034872
distributor_United Artists Releasing,0.026181,-0.019219,0.039000,-0.017759,-0.044403,NaN,-0.033334,-0.026033,-0.027770,0.076440,...,-0.002488,-0.002488,-0.003529,-0.012390,-0.001013,-0.002488,1.000000,-0.012170,-0.013940,-0.014200
distributor_Universal Pictures,-0.029443,-0.007541,0.037407,-0.005980,0.005229,NaN,-0.060814,-0.046450,-0.088543,-0.065149,...,-0.029885,-0.029885,-0.042393,-0.148819,-0.012170,-0.029885,-0.012170,1.000000,-0.167438,-0.170565
distributor_Walt Disney Studios Motion Pictures,-0.127334,0.209423,-0.021130,0.179227,-0.102437,NaN,0.190222,-0.060301,0.207295,0.283328,...,-0.034233,-0.034233,-0.048561,-0.170471,-0.013940,-0.034233,-0.013940,-0.167438,1.000000,-0.195380
distributor_Warner Bros.,-0.017605,-0.001814,0.064874,0.021353,0.125502,NaN,0.060036,0.073645,-0.021298,-0.116782,...,-0.034872,-0.034872,-0.049468,-0.173655,-0.014200,-0.034872,-0.014200,-0.170565,-0.195380,1.000000

In [78]:
final_df.to_csv('copy_web_scraping_final.csv', index=False)